footer{
    height: 70px;
    background-color:#2c4260;
    margin: 0;
    padding: 0;
    bottom: 0px;
    width: 100%;
}
#gdpr{
    float: right;
    margin: 25px;
    font-size: 110%;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}
#github{
    float: right;
    margin: 25px;
    font-size: 110%;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}
#copyright{
    float: left;
    margin: 25px;
    font-size: 110%;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}