@font-face{
    font-family: "LouisGeorgeCafe";
    src: url("../fonts/LouisGeorgeCafe.ttf")
}
@font-face{
    font-family: "arial";
    src: url("../fonts/Arial.ttf")
}
*{
    margin: 0;
    padding: 0;
    font-family: arial;

}
body{
    background-color: darkgray;
    position: relative;
    min-height: 100vh;
    padding-bottom: 70px;
    
}