            
            #main{
             width: 20%;
            height: 20;
            }
            .vid{
                width: 100%;
                height: 100%;
            }
            #views{
                float: right;
            } 